---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ pvcName }}
  namespace: {{ namespace }}
  {%- if backups %}
  labels:
    recurring-job.longhorn.io/source: enabled
    recurring-job.longhorn.io/{{ backupName }}: enabled
  {%- endif %}
spec:
  accessModes:
  - {{ pvcAccessMode }}
  resources:
    requests:
      storage: {{ pvcSize }}
  storageClassName: {{ pvcStorageClass }}
  volumeMode: Filesystem
