---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ ingName }}
  annotations:
    external-dns.alpha.kubernetes.io/hostname: {{ ingHost }}
    {%- if ingress.cname != "" %}
    external-dns.alpha.kubernetes.io/target: {{ ingCname }}
    {%- endif %}
    {%- if ingWebSockets %}
    nginx.org/websocket-services: {{ svcName }}
    {% endif %}
    {%- if homepageEnabled %}
    gethomepage.dev/href: {{ ingHost }}
    gethomepage.dev/enabled: "true"
    gethomepage.dev/description: {{ homepageDescription }}
    gethomepage.dev/group: {{ homepageGroup }}
    gethomepage.dev/icon: {{ homepageIcon }}
    gethomepage.dev/name: {{ homepageName }}
    gethomepage.dev/pod-selector: ""
    {%- endif %}
    {%- for extra in ingExtraAnnotations.split("\n") %}
    {{ extra }}
    {%- endfor %}
spec:
  ingressClassName: {{ ingClass }}
  rules:
    - host: "{{ ingHost }}"
      http:
        paths:
          - path: "/"
            pathType: {{ ingPathType }}
            backend:
              service:
                name: {{ svcName }}
                port:
                  number: {{ svcPortNum }}
  tls:
    - hosts:
      - {{ ingHost }}
      {%- if ingSecret != "" %}
      secretName: {{ ingSecret }}
      {%- endif %}
