---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: {{ name }}

commonAnnotatons:
  repo: {{ url }}

{%- if labels|length > 0 %}
commonLabels:
  {{ labels }}

{%- endif %}
{%- if crds %}
crds:
  - crds/

{%- endif %}
resources:
  - resources/

{%- if reloader %}
patches:
  - patches/reloader.yaml
{%- endif %}


{%- if helm %}
helmCharts:
- name: {{ helmName }}
  includeCRDs: {{ helmCrds }}
  releaseName: {{ helmRelease }}
  repo: {{ helmRepo }}
  {%- if helmValues != "" %}values: {{ helmValues }}{%- endif %}
  version: {{ helmVersion }}
{%- endif %}
