---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ pvcName }}
  namespace: {{ namespace }}
spec:
    accessModes:
    - {{ pvcAccessMode }}
    resources:
      requests:
        storage: {{ pvcSize }}
    storageClassName: {{ pvcStorageClass }}
    volumeMode: Filesystem
